<div class="container text-center">

  <h4 class="date-select">Select A Day</h4>

 <%= form_tag("dashboard/date", method: "get") do %>
  <%= label_tag(:date, "Date") %>
  <%= text_field :date, "Date" %>
  <%= submit_tag("Submit") %>
 <% end %>

</div>
